body{
    font-family: Arial, Helvetica, sans-serif;
    background: lightgray;
    border-style: solid;
    border-color: black;
    margin:30px;
    padding: 10px;
    text-align: center;
    height: 1205px;
}

.header1{
    border-style: solid;
    border-color: black;
    margin: 10px;
    padding: 5px;
}

.header1 nav{
    border-style: solid;
    border-color: black;
    margin: 10px;
    padding: 5px;
}

.section1{
    border-style: solid;
    border-color: black;
    margin: 10px;
    padding: 5px;
    width: 400px;
    height: 881px;
    float: left;
}

.section1 header{
    border-style: solid;
    border-color: black;
    margin: 10px;
    padding: 5px; 
}

.section1 nav{
    border-style: solid;
    border-color: black;
    margin: 10px;
    padding: 5px; 
    width: 364px;
    height: 650px;
}

.section1 footer{
    border-style: solid;
    border-color: black;
    margin: 10px;
    padding: 5px; 
}

.section2{
    border-style: solid;
    border-color: black;
    margin: 10px;
    padding: 5px;
    width: 790px;
    height:880px;
    float: right;
}

.article1{
    border-style: solid;
    border-color: black;
    margin: 10px;
    padding: 5px; 
}

.article1 header{
    border-style: solid;
    border-color: black;
    margin: 10px;
    padding: 5px; 
}

.article1 footer{
    border-style: solid;
    border-color: black;
    margin: 10px;
    padding: 5px; 
}

.p1{
    border-style: solid;
    border-color: black;
    margin: 10px;
    padding: 20px;  
}

.p2{
    border-style: solid;
    border-color: black;
    margin: 10px;
    padding: 20px;  
}

.article2{
    border-style: solid;
    border-color: black;
    margin: 10px;
    padding: 5px; 
} 

.article2 header{
    border-style: solid;
    border-color: black;
    margin: 10px;
    padding: 5px; 
}


.p3{
    border-style: solid;
    border-color: black;
    float: left;
    width: 400px;
    height: 120px;
    margin: 10px;
    padding: 5px;
}

.article2 aside{
    border-style: solid;
    border-color: black;
    float: right;
    width: 280px;
    height: 119px;
    margin: 10px;
    padding: 5px;
}

.article2 footer{
    border-style: solid;
    border-color: black;
    margin: 5px;
    padding: 0px; 
}

.header2{
    border-style: solid;
    border-color: black;
    margin: 10px;
    padding: 5px; 
}

.f{
    border-style: solid;
    border-color: black;
    margin: 10px;
    padding: 5px; 
    float: left; 
    width: 1228px;
}
